
<router-outlet></router-outlet>

<app-grand-parent></app-grand-parent>


<div style="background-color: lightblue;margin-top: 100px;">

when change in grant parent it re renders only grant parent and parent component, child component re render is saved | blocked by changeDetection:ChangeDetectionStrategy.OnPush

But when a input changes then in child component change detection happenes 

</div>

<div style="margin:100px;background-color:red">

    -----Please check out points to remember file in this project for more information----
</div>




<h4>ngZone Test</h4>
<app-zone></app-zone>
